dist: bionic
language: python
cache: pip

services:
  - docker

addons:
  sonarcloud:
    organization: "1a"
    token:
      secure: "HCrI3UKgzOMeOhSisYaVPdUUah+jLljut+8Wc+ZJsSeIBAIghZ0AFkRJlm3zJqJjZkHeNxf6BhCw6ZFM7vdnQrBtaIK6Zwh/0N3hcqqTcxbiDIudJ3Ez36NWnM5FXoulAP7LqqyUFiqLmHMf3s3WxfHatHaYS3gXCRBFGEL1kjvIREFp6iWy4qcDs/gxVunp6oeJ9vwgRCvk8vsUTM0PhkAm7l2CYA4i918vF7/6k1WHJc3igMQzA6AwnJ86oE9NIXvBQYEQMIhwb1uK0bknusm+72sW3Z7uW/EPj5z0uOcEhvGLk9Z/C5gmOiimCGvWZLuZXGAYme5x2NQHRUC88ilu+wOWLdQT8vxQiblPduk83IUuat8NEsFYHQ8f3xtS2kKF7y1n9CX9YgfY+nSznhyxV3o+pXiTE5wRbn2Tq8gxsTSYD4nQd2dnzTJzlmWCBBFsj1gqUUY48RN4E4UCYAfPG2lyCd8izPYdpYMYLN86KfRgNnojojkWux+RIhDTjW+srKZ5/awXh3FxFkKA8mKzTc09UMraMwOBI78oqRYmk8T2y2EU6adsjDbAcTNM+mNwwv1virVu6sFYk6zlUtdHkCpYRVCMSG3XMB4/VZSl50UvuL60p/3tTNcWZhYLAx7KmM71vXEL7xd8kYqC5j/ELlYhjzM7zqswxQROMnA="
      # SONAR_TOKEN as is (/!\ no VAR= /!\)
    
    # Activating comments on PRs
    github_token:
      secure: "bm7Z0+qIbJ/j/bdRW/2NhqDdhQxmSq2lHDlde4QOu/wGi0nxsH8EdeB0Xo7Gn4jggjQnthXU/yNJ43xwRQk191eZ+vpGMKxiJIokcTPmd6ECtFGfwUnHFmFzmZwYQ4ehXpZA+kdqbz33gQrKqHz11ywn9t4p5Kt+WGGe2nTjmvXyryNUJj/jlxbcAFrUXSef31fKKsv9QvRpvtVSF1bOc/Yorb67mpNL06CwgA6lFAeLVB2V+ie6LdSociWf8I6cWv5n2gLPIzomlDXkJcq3Vmqk5U+oAPCvZQqqakzzvIueSP5IWp8YsVA41EFQWNU2cirsnvu78KbDwb2X6AY8rS7rXlYAip+Hst8yhlfhJKk/W2sI5kiITvgz6J7MKtmMVsDGYKExaslDifpFUfNoo6/s6gkMouqS6nZuDY6KybFgbL4dTjLtzmMpw1gQDJpVgwf+N6S/2atU2Suz+ukBCRh4WuE0c+FA29i5AVB3YUXmdG5d3CC6IqcmZ5R1DkIAE7pfharh/YRV47byEFcF5lMPY75hwdUjMQbI/k/w+XRLJTKllvGcbfUmZg7dFSsiK0OOoJV8iFfRXYSC4ropKNoNHonEo0FS3rDGN8+M8VrvX55r4/mHZK8dT5BxtYzPBNbrODsHLmQ6tKsEGgJCZym0+4E61M8goFPPoIgNXuI="

os:
  - linux

python:
  - 2.7
  - 3.5
  - 3.6
  - 3.7
  - 3.8
  - pypy3

jobs:
  include:
    - python: 3.8
      env: TOX_ENV=flake8
    - python: 3.8
      env: TOX_ENV=docs

install:
  - pip install tox-travis coveralls

script:
  # if custom env specified, use it else just use current environment parameters
  - if [ -n "${TOX_ENV}" ]; then
      tox -e $TOX_ENV;
    else
      tox;
    fi
  - ./.travis/runSonarQubeAnalysis.sh

after_success:
  - coveralls

deploy:
  # deploys to PyPI on any tagged commit
  - provider: pypi
    username: "__token__"
    password:
      secure: "i0WSXHnHn9S+N3+GYqQqJyTJdA9T7eKkVLJmacHMyVnseinD/1JHSjWcxUx9otFSn9nNo/Nhs67PGTyPLWPOlP4JfC7nmRUC9EvIHputRurkvzD7H3Gv0AzMej18LZof/dMoxioX5vMwjfUmjvUKJ3wMZeAJwtUIB9NJlwWC/O2SrjfhRD/Wv0JnmP49h9GUsbkbtGTki7810fOZBNeo1XPy6oSVnTErPKafuMIJs4EsQ8e4xiDWmlXRAs9zIOFdJ83l/RsEHw3o/8SFhvGfI/Zc4o78sU7Gw367mT/qrS5u1Qg8BMHjHaalGcD09fH/aCfPJ/Yww/gjAFrfcQgZeLp7AUwXMF1uGcIs/YKxihKRsr4QugMzjVEDJG2+RMdNM3YQ4DUd0D9dIFqYm7xEV4Emc+5kCrElPZwShL5QPr0fxJhhjnDCw+T7daQpP98vZ27gLXrE8hW/BwfDemmr3+ZYM55+hSoqK3hzv85V/BgN1f26u4NonzHXmINB3sQNGPT2apuPaZkBS3sBxYCf5TBZPiShEkX/cooyZZd1r7RwpubD/j45lLMLy+r/L9P+PKj+6dLh7SLZxFVExarnZiEcDC2Sgjdnv/v7XDGoLQLCNQsJJFC8X9rxMSOQVZu1j94yMTkuA6Zg7FTuHK5CDiIwoybMrztEUPwZJ2lv3j0="
    distributions: sdist bdist_wheel
    on:
      tags: true
      repo: AmadeusITGroup/JumpSSH
    # Upload artifacts only once
    skip_existing: true
