# required for sonar (https://docs.travis-ci.com/user/sonarqube/)
dist: trusty

# required for docker and sonar
sudo: required

language: python

services:
  - docker

addons:
  apt:
    packages:
      # python 2.6 not installed anymore in default images
      - python2.6
  sonarcloud:
    organization: "1a"
    token:
      secure: "HCrI3UKgzOMeOhSisYaVPdUUah+jLljut+8Wc+ZJsSeIBAIghZ0AFkRJlm3zJqJjZkHeNxf6BhCw6ZFM7vdnQrBtaIK6Zwh/0N3hcqqTcxbiDIudJ3Ez36NWnM5FXoulAP7LqqyUFiqLmHMf3s3WxfHatHaYS3gXCRBFGEL1kjvIREFp6iWy4qcDs/gxVunp6oeJ9vwgRCvk8vsUTM0PhkAm7l2CYA4i918vF7/6k1WHJc3igMQzA6AwnJ86oE9NIXvBQYEQMIhwb1uK0bknusm+72sW3Z7uW/EPj5z0uOcEhvGLk9Z/C5gmOiimCGvWZLuZXGAYme5x2NQHRUC88ilu+wOWLdQT8vxQiblPduk83IUuat8NEsFYHQ8f3xtS2kKF7y1n9CX9YgfY+nSznhyxV3o+pXiTE5wRbn2Tq8gxsTSYD4nQd2dnzTJzlmWCBBFsj1gqUUY48RN4E4UCYAfPG2lyCd8izPYdpYMYLN86KfRgNnojojkWux+RIhDTjW+srKZ5/awXh3FxFkKA8mKzTc09UMraMwOBI78oqRYmk8T2y2EU6adsjDbAcTNM+mNwwv1virVu6sFYk6zlUtdHkCpYRVCMSG3XMB4/VZSl50UvuL60p/3tTNcWZhYLAx7KmM71vXEL7xd8kYqC5j/ELlYhjzM7zqswxQROMnA="
      # SONAR_TOKEN as is (/!\ no VAR= /!\)
    
    # Activating comments on PRs
    github_token:
      secure: "bm7Z0+qIbJ/j/bdRW/2NhqDdhQxmSq2lHDlde4QOu/wGi0nxsH8EdeB0Xo7Gn4jggjQnthXU/yNJ43xwRQk191eZ+vpGMKxiJIokcTPmd6ECtFGfwUnHFmFzmZwYQ4ehXpZA+kdqbz33gQrKqHz11ywn9t4p5Kt+WGGe2nTjmvXyryNUJj/jlxbcAFrUXSef31fKKsv9QvRpvtVSF1bOc/Yorb67mpNL06CwgA6lFAeLVB2V+ie6LdSociWf8I6cWv5n2gLPIzomlDXkJcq3Vmqk5U+oAPCvZQqqakzzvIueSP5IWp8YsVA41EFQWNU2cirsnvu78KbDwb2X6AY8rS7rXlYAip+Hst8yhlfhJKk/W2sI5kiITvgz6J7MKtmMVsDGYKExaslDifpFUfNoo6/s6gkMouqS6nZuDY6KybFgbL4dTjLtzmMpw1gQDJpVgwf+N6S/2atU2Suz+ukBCRh4WuE0c+FA29i5AVB3YUXmdG5d3CC6IqcmZ5R1DkIAE7pfharh/YRV47byEFcF5lMPY75hwdUjMQbI/k/w+XRLJTKllvGcbfUmZg7dFSsiK0OOoJV8iFfRXYSC4ropKNoNHonEo0FS3rDGN8+M8VrvX55r4/mHZK8dT5BxtYzPBNbrODsHLmQ6tKsEGgJCZym0+4E61M8goFPPoIgNXuI="


python: 3.6
env:
  matrix:
    - TOX_ENV=flake8
    - TOX_ENV=docs
    - TOX_ENV=py26
    - TOX_ENV=py27
    - TOX_ENV=py33
    - TOX_ENV=py34
    - TOX_ENV=py35
    - TOX_ENV=py36
    - TOX_ENV=pypy


install:
  - pip install tox coveralls

script:
  - tox -e $TOX_ENV
  - ./.travis/runSonarQubeAnalysis.sh

after_success:
  - coveralls

deploy:
  # deploys to PyPI on any tagged commit
  - provider: pypi
    user: tcastaing
    password:
      secure: "SQogu9XzcnplQBLWXqo2qwZBUpgInKflrei6BdTaYbxmCtdbCmev7H9OHBBXzzPe8R5WjjKqKNw6rFBJP2kAp2pS9KNJi1BfhHNvvs4JDgt4xUQ6hlcvyBAV+/L+EslIcXgm4AjEGBCn6G+4i9dwonYgl1iMIh0DAgRGQHexnyKDWpxlsgdH3TInwC2vZuZARAGhvzy3KB/X1nBNa6wbD7qEVTMiHmEEIZINS3PG6SGcaBSYSJaOPi2f7/MWLhzxXgKfWJgNpPNrMzlHJ4J7GSHlUlsLVZKaYoBihPa5+e6dkVKh8qrxJBIZe4y5kKuY+sRtlslFwbVQj8dE6T5rdiPLuBDhTkTL98tVAgHrKZjmhZ97sak/iPr14yHAk5K9hgEh+wsI8w48Edhk4KA+MmQA4lhPUzFW0Fm9jqVkpowNjc4NgAcGK009cW1+ZjlZnQFwIzfoYgbKsyisGwdclVHAotpxnibZqBfza0AXhbeX+5w+ZEF92gqvjdvG6dMWiQdplRWyYScpAq/1c2L8EkhXYfk8i8Jl+LkuH2xoRfEdG0Vr/EpW1omThkwGz2v6QPd29p1EgI4hiJ7GsmQvf8DoPejMW46QibZWKENIxkN2md9UzIKQEuNo7mf2pXGUgfdXtxjIC8AnHyoYCyqpjSPeBMi1uKQYLI/wnGpckDY="
    on:
      tags: true
      distributions: sdist bdist_wheel
      repo: AmadeusITGroup/JumpSSH
