paramiko==2.7.2
pytest==6.0.1;python_version>="3.5"
pytest==4.6.9;python_version<"3.5"
pytest-cov==2.11.0
flaky==3.7.0
mock==3.0.5;python_version<"3.6"
docker==4.3.1
docker-compose==1.27.2;python_version>="3.5"
docker-compose==1.26.2;python_version<"3.5"
pathlib2==2.3.5;python_version<"3.4"

# indirect dependencies
pyrsistent<0.17.0;python_version<"3.5"
